{% load static %}
<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Innovation Stream
            </h6>
            <p style="text-align: left;">
              PASHA Holding's Innovation Stream fosters an innovative culture by promoting both intrapreneurship and entrepreneurship for investment opportunities, market intelligence and hosting events to inspire creativity and forward-thinking across its group of companies and regional ecosystem.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="https://innovationsummit.az/" class="text-reset">Summit</a>
            </p>
            <p>
              <a href="https://www.pashahackathon.az/" class="text-reset">Hackathon</a>
            </p>
            <p>
              <a href="https://ph.getkickbox.com/" class="text-reset">Kickbox</a>
            </p>
            <p>
              <a href="https://t.me/+TXK_d1UmzBc5NTcy" class="text-reset">Telegram Channel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> PASHA Holding" LLC Port Baku 153,  Neftchilyar Avenue, AZ 1010, Baku, Azerbaijan</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              office@pasha-holding.az
            </p>
            <p><i class="fas fa-phone me-3"></i>Phone: (+994 12)505 50 00</p>
            <p><i class="fas fa-print me-3"></i>Fax: (+994 12)505 15 35</p>
          </div>
  
          <!-- <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <img width="400" src="{% static 'img/mobile.png' %}" alt="" style="margin-bottom: -24px;">
          </div> -->
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">pashainnovation.com</a>
    </div>
    <!-- Copyright -->
  </footer>