{% load static %}

<div class="form-popup" id="myForm">
  <form action="" class="form-container" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_error}}
    <h2 style="color: black;">Subscribe</h2>

    {{form.email}}
    {{form.email.errors}}


    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'core:main' %}"><img id="logo" width="200" src="{% static 'img/lil.png' %}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active" style="margin-right: 10px;">
            <a class="nav-link" href="{% url 'core:main' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          {% for category in categories %}
          <li class="nav-item active" style="margin-right: 10px;">
            <a class="nav-link" href="{% url 'core:search' %}?category={{category.title}}">{{category.title}} <span class="sr-only">(current)</span></a>
          </li>
          {% endfor %}
          <li class="nav-item active" style="margin-right: 10px;">
            <a class="nav-link" href="#"> <button class="open-button" id="subscribe" onclick="openForm()" style="border: none; border-radius: 5px; padding: 5px 10px; margin-top: -10px; background-color: black; color: white;">Subscribe</button> <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <div class="form-inline my-2 my-lg-0 ml-auto">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search"> -->
        <button class="openBtn" id="open-btn" onclick="openSearch()" style="outline: none; margin-top: -3px;">
          <img id="open-img" src="{% static 'img/search.png' %}" alt="" width="23">
          </button>
        <button style="border: none; background: transparent; outline: none;" onclick="myFunction()">
          <img id="dark-mode-img" width="30" src="{% static 'img/dark-mode.svg' %}" alt="">
        </button>

      </div>
    </div>
  </nav>



