.dark-icon {
  fill: white;
}

.dark-mode {
  background-color: #05032E;
  color: white !important;
}

.dark {
  color: white !important;
}

.dark-open {
  background-color: #05032E !important;
}

.dark-sub {
  color: purple !important;
  background-color: white !important;
}

.news-card {
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    transition: all 1s;
    border: 2px solid black;
}

.news-card-small {
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    transition: all 1s;
    border: 2px solid black;
}

.news-title {
  max-width: 950px;
}

.news-title-small {
  max-width: 450px;
}


.news-data {
    position: absolute;
    bottom: 50px;
    color: white;
}

.news-card:hover {
    opacity: 0.8;
    transform: scale(1);
}

.news-card-small:hover {
    opacity: 0.8;
    transform: scale(1);
}

.header {
    width: 650px;
    margin: 0 auto;
}

.text {
    font-size: 22px;
}

.content-text {
    width: 80%;
    margin: 0 auto;
}
/* .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  } */
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    right: 15px;
    top: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-inp {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #390c7e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: black;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.monile-news {
  display: none;
}



  @media (max-width: 360px) {

    .news {
      display: none !important;
    }
    .mobile-news {
      display: block !important;
    }
    .header {
      width: 100% !important;
    }
    .news-title {
      font-size: 30px !important;
    }
    .news-card {
      padding: 10px !important;
    }
    .news-card-small {
      padding: 10px !important;
    }

    .video-div iframe {
      width: 300px;
    }
 
 }

 @media (min-width: 361px)and (max-width: 769px) {

  .news {
    display: none !important;
  }
  .mobile-news {
    display: block !important;
  }

  .header {
    width: 100% !important;
  }
  .news-title {
    font-size: 30px !important;
  }
  .news-card {
    padding: 10px !important;
  }
  .news-card-small {
    padding: 10px !important;
  }

  .video-div iframe {
    width: 300px;
  }

}
 @media (min-width: 768px) and (max-width: 841px) {
  .news {
    display: none !important;
  }
  .mobile-news {
    display: block !important;
  }

  .header {
    width: 100% !important;
  }

  .news-title {
    font-size: 30px !important;
  }
  .news-card {
    padding: 10px !important;
  }
  .news-card-small {
    padding: 10px !important;
  }

  .video-div iframe {
    width: 300px;
  }
 
 }
