{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="main container">
      {% include 'includes/navbar.html' %}


          <div class="news">
            <div class="container-fluid">
                <div class="row">
                  {% if page_obj.has_previous %}
                    <div></div>
                  {% else %}
                  {% if firstnews %}
                  <div class="col-md-12 mb-4">
                    <a href="{% url 'core:news' firstnews.pk%}">
                      <div class="news-card" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.076) ), url({{ firstnews.banner_image.url }});">
                          <div class="news-data">
                              {% for category in firstnews.category.all%}
                              <span>{{category.title}}  </span> <span> • </span>
                              {% endfor %}
                              <span>{{ firstnews.created_at |date:"M d, Y" }}</span>
                              <h1 class="news-title">{{ firstnews.title|truncatewords:14 }}</h1>

                          </div>
                      </div>
                    </a>
                  </div>
                  {% endif %}
                  {% endif %}
                    {% for new in news %}
                    <div class="col-md-6 mb-4">
                      <a href="{% url 'core:news' new.pk%}">
                        <div class="news-card-small" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.076) ), url({{ new.banner_image.url }});">
                            <div class="news-data">
                              {% for category in new.category.all%}
                              <span>{{category.title}}  </span> <span> • </span>
                              {% endfor %}
                                <span>{{ new.created_at |date:"M d, Y" }}</span>
                                <h2 class="news-title-small">{{ new.title|truncatewords:14 }}</h2>

                            </div>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>

          <div class="mobile-news d-none">
            <div class="container-fluid">
                <div class="row">
                  {% if page_obj.has_previous %}
                    <div></div>
                  {% else %}
                  {% if firstnews %}
                  <div class="col-md-12 mb-4">
                    <a href="{% url 'core:news' firstnews.pk%}">
                      <div class="news-card" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.076) ), url({{ firstnews.banner_image_small.url }});">
                          <div class="news-data">
                              {% for category in firstnews.category.all%}
                              <span>{{category.title}}  </span> <span> • </span>
                              {% endfor %}
                              <span>{{ firstnews.created_at |date:"M d, Y" }}</span>
                              <h1 class="news-title">{{ firstnews.title|truncatewords:14 }}</h1>

                          </div>
                      </div>
                    </a>
                  </div>
                  {% endif %}
                  {% endif %}
                    {% for new in news %}
                    <div class="col-md-6 mb-4">
                      <a href="{% url 'core:news' new.pk%}">
                        <div class="news-card-small" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.076) ), url({{ new.banner_image.url }});">
                            <div class="news-data">
                              {% for category in new.category.all%}
                              <span>{{category.title}}  </span> <span> • </span>
                              {% endfor %}
                                <span>{{ new.created_at |date:"M d, Y" }}</span>
                                <h2 class="news-title">{{ new.title|truncatewords:14 }}</h2>

                            </div>
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>
          
    </div>
    <div style="display: flex; justify-content: center;">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" style="padding: 11.5px;">
                <img src="https://cdn-icons-png.flaticon.com/512/271/271220.png" width="20" alt="" style="">
              </a>
              {% endif %}
            </li>
            <h1 class="d-none" id="num_pages">{{ page_obj.paginator.num_pages }}</h1>
            <li class="page-item"><a class="page-link num" href="?page={{ page_obj.number }}" style="font-size: 20px; color: #4F4F4F; padding: 10px;">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link num" id="from-pagination" href="?page={{ page_obj.next_page_number }}" style="font-size: 20px; color: #4F4F4F; padding: 10px;">{{ page_obj.next_page_number }}</a></li>
            
            {% endif %}
            <li class="page-item">
              {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next" style="padding: 11.5px;">
                <img width="20" src="https://cdn-icons-png.flaticon.com/512/32/32213.png" alt="">
              </a>
              {% endif %}
            </li>
          </ul>
        </nav>
  </div>
    {% endblock %}